absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
async-lru
async-timeout
attrs
Babel
beautifulsoup4
bleach
blinker
Bottleneck
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
fastremap
filelock
flatbuffers
fonttools==4.55.1
frozenlist
fsspec==2024.10.1
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httpcore
httpx
idna
imagecodecs==2024.9.23
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
Keras-Preprocessing
kiwisolver==1.4.8
llvmlite==0.43.1
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.3
matplotlib-inline
mdurl
mistune
mkl-service==2.4.1
mkl_fft
mkl_random
mpmath==1.3.1
multidict
natsort==8.4.1
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.4.3
notebook
notebook_shim
numba==0.60.1
numexpr
numpy
oauthlib
opencv-python==4.10.0.85
opencv-python-headless==4.10.0.85
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt-toolkit
protobuf==3.20.4
psutil
pure-eval
py-cpuinfo==9.0.1
pyarrow==11.0.1
pyasn1
pyasn1-modules==0.2.9
pycparser
pydeck
Pygments
PyJWT
pyOpenSSL
pyparsing==3.2.1
PySocks
python-dateutil
python-json-logger
pytz
pywin32==305.2
pywinpty
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
roifile==2024.9.16
rpds-py
rsa
scipy
seaborn==0.13.3
Send2Trash
six
smmap
sniffio
soupsieve
stack-data
streamlit
sympy==1.13.2
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.10.1
tensorflow-estimator
termcolor
terminado
tifffile==2024.9.21
tinycss2
toml
tomli
toolz
torch==2.5.2
torchvision==0.20.2
tornado
tqdm==4.67.2
traitlets
typing_extensions
tzdata
ultralytics==8.3.38
ultralytics-thop==2.0.13
urllib3
watchdog
wcwidth
webencodings==0.5.2
websocket-client
Werkzeug
widgetsnbextension
win-inet-pton
wrapt
yarl
